<template name="Comment">
    <div class="container">
        <div class="row">
            <div class="col s5 offset s10">
                <div class="card grey lighten-4 hoverable">
                    <div class="card-content grey-text text-darken-1">
                      <i class="bookmark material-icons">bookmark_border</i>
                        <div class="card-title"><p>{{text}}</p></div>
                        <div class="card-action">
                          <p>{{contributor}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
