<template name="NewComment">
    <div class="container">
        <form id="text-area" class="col s5 offset s10">
            <div class="row">
              <div class="input-field col s5 offset s10">
                <textarea class="card-panel teal lighten-2 materialize-textarea text-box" name="text" placeholder="what is on your mind?" row="10" cols="10" required>
                </textarea>
                <button class="btn waves-effect waves-light" type="submit" name="action"> Submit
                    <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
        </form>
    </div>
</template>
